<tbody>
<%@valoraciones.each do |v|%>
  <tr>
    <td><%= v.nombre%></td><td><a data-confirm="Elimnara esta aplicacion?"class=" btn btn-danger" rel="nofollow" data-method="delete" href="valoracions/<%=v.id%>"><i class="fa fa-trash"></i></a></td>
  </tr>
<% end %>
</tbody>
