<div class="container">
  <ol class="breadcrumb">
    <li><a href="index.php">Inicio</a></li>
    <li ><a href="valoracions">Valoraciones</a></li>
  </ol>
  <div class="row">
    <div class="navbar-left">
     <a href="apps/new" class="btn btn-lg btn-info"><i class="fa fa-pencil"></i> Registrar aplicación</a><hr>
    </div>
    <div class="navbar-right">
          <a href="nueva-valoracion" class="btn btn-lg btn-info"><i class="fa fa-pencil"></i> Nueva Valoracion</a><hr>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-hover table-striped">
    <thead style="font-weight:bold;">
          <tr style="background:#f5f5f5; font-size:15px;">
        <td width="5%">#</td>
        <td width="30%">Nombre</td>
        <td width="35%">Descripcion</td>
        <td width="30%">Acciones</td>
      </tr>
          </thead>
          <tbody>
            <%@apps.each do |apps|%>
                    <tr>
                      <td><%=apps.id %></td>
                      <td><%=apps.titulo %></td>
                      <td><%=truncate(apps.cuerpo, :length => 20) %></td>
                        <td style="text-align: center;">
                      <a href="apps/<%=apps.id%>" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ver"><i class="fa fa-eye"></i></a>
                      <a href="apps/<%=apps.id%>/edit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Actualizar"><i class="fa fa-refresh"></i></a>
                      <a data-confirm="Elimnara esta aplicacion?"class=" btn btn-danger" rel="nofollow" data-method="delete" href="apps/<%=apps.id%>"><i class="fa fa-trash"></i></a>
                    </td>
                    
                    </tr>
<% end %>


    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){

  $('.delete_app').click(function(e){

    e.preventDefault();

    var pid = $(this).attr('data-id');
    var parent = $(this).parent("td").parent("tr");

    bootbox.dialog({
      message: "<h4 class='text-muted'><small>Al presionar el botón <b>Eliminar</b>, se eliminará el registro permanentemente</small></h4>",
      title: "¿Desea eliminar el siguiente registro?",
      buttons: {
      success: {
        label: "Cancelar",
        className: "btn-success",
        callback: function() {
         $('.bootbox').modal('hide');
        }
      },
      danger: {
        label: "Eliminar",
        className: "btn-danger",
        callback: function() {
          $.post('delete_app.php', { 'delete':pid })
          .done(function(response){
            bootbox.alert(response);
            parent.fadeOut('slow');
          })
          .fail(function(){
            bootbox.alert('Al parecer algo salió mal ....');
          })
        }
      }
      }
    });
  });

});
</script>
<script>
    $("#alert").fadeTo(4000, 5000).slideUp(1000, function(){
      $("#alert").alert('close');
  });
  </script>
