<p id="notice"><%= notice %></p>
<div class="container">
		<ol class="breadcrumb">
			<li><a href="<%= root_path%>">Inicio</a></li>
			<li><a href="<%= apps_path%>">Aplicaciones</a></li>
			<li class="active"><?php echo ucfirst($nombre); ?></li>
		</ol>
    <%= form_tag({:controller => "ratings", :action => "new"}, :method => "get") do %>
		<%= hidden_field_tag :id, @app.id%>
		<%= submit_tag  @app.titulo, id: @app.titulo,name: "",class:"roles"%>
    <label for="<%= @app.titulo%>">	<a  class="btn btn-lg btn-danger" style="width: 220%;" data-toggle="tooltip" data-placement="top" title="Valorar aplicación">Calificar <i class="fa fa-check"></i></a></label>
   <% end %>
		<div class="col-md-3">
			<hr>
			<div class="panel panel-default">
				<div class="panel-heading"><h4 class="text-muted" style="font-weight: bold;">Características</h4></div>
				<div class="panel-body">
          	<h5 class="text-muted"><b>Nombre: </b><%= @app.titulo%></h5>
					<h5 class="text-muted"><b>Plataforma: </b><%= @app.plataforma%></h5>
					<h5 class="text-muted"><b>Idioma: </b><%= @app.idioma%></h5>
					<h5 class="text-muted"><b>Sitio Web Oficial: </b><a href="http://<%= @app.sitio_web%>" target="_blank"><%=@app.sitio_web%></a></h5>
				</div>
			</div><hr>
			<div class="panel panel-default">
				<div class="panel-heading"><h4 class="text-muted" style="font-weight: bold;">Criterios evaluativos</h4></div>
				<div class="panel-body">
					<%@valoraciones.each do |valoraciones|%>
					   <h5 class="text-muted" style="color: #303f9f;"><b><%= valoraciones.nombre.capitalize%> </b><input id="input-21e" value="<%=Rating.where(:app_id => params[:id]).where(:valoracion_id => valoraciones.id).average(:valor )%>" data-size="xs"  data-show-clear="false" type="number" class="rating " min=0 max=5 step=0.5 data-size="xs" disabled></h5>
					<% end %>
				</div>
			</div><hr>
		</div>

		<div class="col-md-9" style="border-left: 1px dotted #e0e0e0; border-width: thin; margin-bottom: 10px;">
			<div class="panel panel-default">
				<div class="panel-body">
					<h1 class="text-muted"><%=@app.titulo%></h1><hr>
					<div class="well">
						<img src="<%=@app.imagen.url%>" width="100%" height="300" class="img img-rounded">

					</div><hr>
					<h4 class="text-muted">Descripcion</h4>
					<p><%= @app.cuerpo%></p>
				</div>
			</div>
		</div>
	</div>
